<link type="text/css" rel="stylesheet" href="#getJsPath('easyui/themes/icon.css')"/>
<link type="text/css" rel="stylesheet" href="#getJsPath('easyui/themes/default/easyui.css')"/>
<link type="text/css" rel="stylesheet" href="#getCssPath('layout.css')"/>