<link type="text/css" rel="stylesheet" href="#getCssPath('style.css')"/>
<link type="text/css" rel="stylesheet" href="#getCssPath('bootstrap.css')"/>
<link type="text/css" rel="stylesheet" href="#getCssPath('font-awesome.css')"/>