<script type="text/javascript" src="#getJsPath('jquery-2.1.4.min.js')"></script>
<!-- start-smooth-scrolling -->
<script type="text/javascript" src="#getJsPath('move-top.js')"></script>
<script type="text/javascript" src="#getJsPath('easing.js')"></script>
