<div class="projects" id="projects">
	<div class="container">
		<span class="about-top-w3">做过的项目 </span>
		<h4 class="title-w3ls">项目</h4>
		<div class="news-bottom">
			<div class="news-one-wthree-agile">
				<div class="col-md-6 news-left">
					<div class="biseller-column">
						<a class="lightbox" href="#one"> <img src="resources/images/p1.jpg" alt="" /> </a>
						<div class="lightbox-target" id="one">
							<img src="resources/images/p1.jpg" alt="" />
							<p class="pop">待整理。。。.</p>
							<a class="lightbox-close" href="#"> </a>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
				<div class="col-md-6 news-right">
					<a href="#one"><h4>某某项目</h4></a>
					<p class="para-w3-agile">待整理。。。..</p>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="news-one-wthree-agile">
				<div class="col-md-6 news-right">
					<a href="#three"><h4>某某项目</h4></a>
					<p class="para-w3-agile">待整理。。。..</p>
				</div>
				<div class="col-md-6 news-left">
					<div class="biseller-column">
						<a class="lightbox" href="#three"> <img src="resources/images/p2.jpg" alt="" /> </a>
						<div class="lightbox-target" id="three">
							<img src="resources/images/p2.jpg" alt="" />
							<p class="pop">D</p>
							<a class="lightbox-close" href="#"> </a>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="news-one-wthree-agile">
				<div class="col-md-6 news-left">
					<div class="biseller-column">
						<a class="lightbox" href="#two"> <img src="resources/images/p3.jpg"
							alt="" />
						</a>
						<div class="lightbox-target" id="two">
							<img src="resources/images/p3.jpg" alt="" />
							<p class="pop">待整理。。。</p>
							<a class="lightbox-close" href="#"> </a>

							<div class="clearfix"></div>
						</div>
					</div>

				</div>
				<div class="col-md-6 news-right">
					<a href="#two"><h4>开发者</h4></a>
					<p class="para-w3-agile">待整理。。。.</p>
				</div>
				<div class="clearfix"></div>
			</div>
			<!-- add -->

			<div class="clearfix"></div>
		</div>
	</div>
</div>